h1 {
    color: #FF1B1B;
    font-size: 36px;
    font-weight: 700;
    font-family: Helvetica;
    text-align: center;
}

input {
    border: 1px solid #BFBFBF;
    color: white;
    align-items: center;

    width: 363px;
    height: 59px;
    left: 100px;
}

.message {
    width: 759px;
    height: 112px;
}

button {
    background-color: #233451;
    color: white;
    align-items: center;

    width: 167px;
    height: 56px;
    left: 396px;
}