* {
    font-family: Helvetica;
}

h2 {
    color: #FF1B1B;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

 input {
    border: 1px solid #BFBFBF;
    display: inline-block;

    width: 15em;
    height: .1em;

    padding: 1em;
    margin: 10%;
}

.message {
    width: 30em;
    height: 5em;
}

button {
    background-color: #233451;
    color: white;
    
    width: 10em;
    height: 3em;
    text-align: center;
}